{% extends 'base.html' %}
{% block title %} Recommended Songs {% endblock title %}

{% block body %}
<br>
<!-- Recommendations Section -->
<div class="container">
  <header class="section-heading">
    <h5 class="section-title">RECOMMENDED SONGS FOR YOU</h5>
  </header>
  <hr>
  <!-- Song list -->
  <div class="row" style="margin-right: 65px; margin-left:-15px">
    {% if recommendations %}
      {% for recommendation in recommendations %}
        <div class="col-sm-2 col-md-2" style="padding-bottom: 15px;">
          <div class="hovereffect">
            <img src="{{ recommendation.song.song_img.url }}" class="img-responsive" height="135" width="135"
              style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
              <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' recommendation.song.id %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No recommendations available.</p>
    {% endif %}
  </div>
</div>

{% endblock body %}
